
html {
	background-image: url(../images/snow.jpg);
	background-repeat: repeat;
}

.wrap {
	width: 910px;
	margin: 1.5em auto; 
	padding: 25px;
	background:#ccc;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:24px;
}

#nav {
	text-align: center;
}

#nav li {
  display: inline;
}
#nav a {
	color: #FFFFFF;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #060;
	padding-top: 10px;
	padding-bottom: 10px;
}
#nav a:hover {
	background-color: #0439D9;
	color: #FFF;
}

