<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Gallery</title>
    <style type="text/css" media="screen">
	.wrap {
		margin: 0 3%;
	}
	article {
		width: 200px;
		padding: 10px;
		margin: 10px;
		float: left;
		background: #f3f3f3;
	}
	
	footer {
		clear: both;
	}
	</style>
</head>
<body>
	<div class="wrap">
    <header>
    	<h1>This is a header</h1>
    </header>
    <section>
		<article>
        	<h2>Title</h2>
        	<p>Lorem ipsum dolor sit amet, est ad voluptaria consectetuer, ut vel insolens adipiscing. Noster gloriatur qui ut, illum nobis forensibus eu usu, ne his nihil tritani contentiones. Eu cum graeci audiam gubergren, mucius perpetua eos ex. Id mei nullam ponderum, ei percipit vulputate has. In sed cetero ceteros partiendo, ei decore appellantur cum.</p>
        </article>
		<article>
        	<h2>Title</h2>
        	<p>Lorem ipsum dolor sit amet, est ad voluptaria consectetuer, ut vel insolens adipiscing. Noster gloriatur qui ut, illum nobis forensibus eu usu, ne his nihil tritani contentiones. Eu cum graeci audiam gubergren, mucius perpetua eos ex. Id mei nullam ponderum, ei percipit vulputate has. In sed cetero ceteros partiendo, ei decore appellantur cum.</p>
        </article>
		<article>
        	<h2>Title</h2>
        	<p>Lorem ipsum dolor sit amet, est ad voluptaria consectetuer, ut vel insolens adipiscing. Noster gloriatur qui ut, illum nobis forensibus eu usu, ne his nihil tritani contentiones. Eu cum graeci audiam gubergren, mucius perpetua eos ex. Id mei nullam ponderum, ei percipit vulputate has. In sed cetero ceteros partiendo, ei decore appellantur cum.</p>
        </article>
        <article>
        	<h2>Title</h2>
        	<p>Lorem ipsum dolor sit amet, est ad voluptaria consectetuer, ut vel insolens adipiscing. Noster gloriatur qui ut, illum nobis forensibus eu usu, ne his nihil tritani contentiones. Eu cum graeci audiam gubergren, mucius perpetua eos ex. Id mei nullam ponderum, ei percipit vulputate has. In sed cetero ceteros partiendo, ei decore appellantur cum.</p>
        </article>
    	<article>
        	<h2>Title</h2>
        	<p>Lorem ipsum dolor sit amet, est ad voluptaria consectetuer, ut vel insolens adipiscing. Noster gloriatur qui ut, illum nobis forensibus eu usu, ne his nihil tritani contentiones. Eu cum graeci audiam gubergren, mucius perpetua eos ex. Id mei nullam ponderum, ei percipit vulputate has. In sed cetero ceteros partiendo, ei decore appellantur cum.</p>
        </article>
        		<article>
        	<h2>Title</h2>
        	<p>Lorem ipsum dolor sit amet, est ad voluptaria consectetuer, ut vel insolens adipiscing. Noster gloriatur qui ut, illum nobis forensibus eu usu, ne his nihil tritani contentiones. Eu cum graeci audiam gubergren, mucius perpetua eos ex. Id mei nullam ponderum, ei percipit vulputate has. In sed cetero ceteros partiendo, ei decore appellantur cum.</p>
        </article>
        <article>
        	<h2>Title</h2>
        	<p>Lorem ipsum dolor sit amet, est ad voluptaria consectetuer, ut vel insolens adipiscing. Noster gloriatur qui ut, illum nobis forensibus eu usu, ne his nihil tritani contentiones. Eu cum graeci audiam gubergren, mucius perpetua eos ex. Id mei nullam ponderum, ei percipit vulputate has. In sed cetero ceteros partiendo, ei decore appellantur cum.</p>
        </article>
    	<article>
        	<h2>Title</h2>
        	<p>Lorem ipsum dolor sit amet, est ad voluptaria consectetuer, ut vel insolens adipiscing. Noster gloriatur qui ut, illum nobis forensibus eu usu, ne his nihil tritani contentiones. Eu cum graeci audiam gubergren, mucius perpetua eos ex. Id mei nullam ponderum, ei percipit vulputate has. In sed cetero ceteros partiendo, ei decore appellantur cum.</p>
        </article>
    </section>
    <footer>
    	<p>This is a footer</p>
    </footer>
  </div>
</body>
</html>